In [1]:
import pandas as pd
import numpy as np
import datetime
data=pd.read_csv('PhD_v2.csv', on_bad_lines='skip',low_memory=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447644 entries, 0 to 447643
Data columns (total 18 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Auteur                                    447644 non-null  object
 1   Identifiant auteur                        317655 non-null  object
 2   Titre                                     447635 non-null  object
 3   Directeur de these                        447629 non-null  object
 4   Directeur de these (nom prenom)           447629 non-null  object
 5   Identifiant directeur                     447644 non-null  object
 6   Etablissement de soutenance               447640 non-null  object
 7   Identifiant etablissement                 430559 non-null  object
 8   Discipline                                447639 non-null  object
 9   Statut                                    447644 non-null  object
 10  Date de premiere inscription en doctorat  63976 non-null   object
 11  Date de soutenance                        390898 non-null  object
 12  Year                                      390898 non-null  float64
 13  Langue de la these                        383879 non-null  object
 14  Identifiant de la these                   447644 non-null  object
 15  Accessible en ligne                       447644 non-null  object
 16  Publication dans theses.fr                447644 non-null  object
 17  Mise a jour dans theses.fr                447467 non-null  object
dtypes: float64(1), object(17)
memory usage: 61.5+ MB

In [ ]:
data['Year'].isnull().sum()

In [26]:
import pandas as pd
import numpy as np
import datetime
data=pd.read_csv('PhD_v2.csv', on_bad_lines='skip',low_memory=False)
#data.info()

##method1. Select rows under condition
df_tempRowSelec=data.loc[(data['Year']<=2018) & (data['Year']>=1984)]
print('===================   '+  str( df_tempRowSelec.shape )+  '  ============== ' )
supervisor=df_tempRowSelec['Directeur de these (nom prenom)'].unique()
print('there are totally  ' + str(len(supervisor)) + ' different supervisors during 1984-2018')


##method2. by drop function
df_temp=data.copy()
df_temp_nonan=df_temp[~df_temp['Year'].isnull()]
print( '=============='+ str(df_temp_nonan.shape) +'  ============')
df=df_temp_nonan.drop(df_temp_nonan[ (df_temp_nonan['Year'] >2019) | (df_temp_nonan['Year'] < 1983)].index)
print('===================  ' + str(df.shape)+ '==============')
supervisor1=df['Directeur de these (nom prenom)'].unique()
print('================')
print('there are totally  ' + str(len(supervisor1)) + ' different supervisors during 1984-2018')

===================   (379109, 18)  ==============
there are totally  129093 different supervisors during 1984-2018
==============(390898, 18)  ============
===================  (389821, 18)==============
================
there are totally  134961 different supervisors during 1984-2018